.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.col-izq {
    background-color: grey;
    min-height: 600px;
}
.colorBlanco  {
    color: white;
    text-decoration: none;
}

.colorBlanco:hover  {
    color: white;
}

.colorBlanco:hover .fa-solid {
    transition: 1s;
    transform: rotate(360deg);
    font-size: 20px;
}

.colorBlanco:hover .fa-brands {
    transition: 1s;
    transform: rotate(360deg);
    font-size: 20px;
}

.perfil {
    background-image: url(../img/maxresdefault.jpg);
    background-position: center;
    background-size: cover;
}